body {
  width: 80em;
  margin 2em auto;
}

header {
  margin: 2em auto;
  width: 60em;
  border: 5px solid blue;
  display: flex;
  justify-content: space-between;
}
header img {
  width: 128px;
  height: 128px;
}
nav > ul {
  display: flex;
  width: 19em;
  justify-content: space-between;
  list-style: none;
}

nav a {
  color: black;
  background-color: orange;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;

}
