body {
  width: 80em;
  margin 2em auto;
}

header {
  margin: 2em auto;
  width: 60em;
  display: flex;
  justify-content: space-between;
}
header img {
  width: 128px;
  height: 128px;
}
nav > ul {
  display: flex;
  width: 19em;
  justify-content: space-between;
  list-style: none;
}

nav a {
  color: black;
  background-color: orange;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;

}
section {
  margin: 2em auto;
  max-width: 60em;
  background-color: slategray;
  height: 10em;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background:
  radial-gradient(circle, transparent 20%, slategray 20%, slategray 80%, transparent 80%, transparent),
  radial-gradient(circle, transparent 20%, slategray 20%, slategray 80%, transparent 80%, transparent) 50px 50px,
  linear-gradient(#A8B1BB 8px, transparent 8px) 0 -4px,
  linear-gradient(90deg, #A8B1BB 8px, transparent 8px) -4px 0;
  background-color: slategray;
  background-size:100px 100px, 100px 100px, 50px 50px, 50px 50px;
}
h1 {
  font-size: 5em;
  font-weight: bold;
  font-family: "Josefin Slab", Arial, serif;
}
main {
  margin: 2em auto;
  line-height: 1.5;
  width: 60em;
  display: flex;
  justify-content: space-between;
}
main div {
  width: 17em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main img {
  height: 90px;
}
h2 {
  font-size: 2em;
  font-weight: bold;
  font-family: "Josefin Slab", Arial, serif;
}
p {
  font-size: 1em;
  font-family: "Josefin Slab", Arial, serif;
}
